{% extends "base_artigos.html" %}
{% block title %}{{ artigo.titulo|safe }}{% endblock %}
{% block dataJson %}{{ artigo.corpo|tojson }}{% endblock %}
{% block artigoId %}{{ artigo.id }}{% endblock %}
{% block listaArtigos %}
<ul class="list-group">
    {% if artigos %}
        {% for artigo in artigos %}
            {% if artigo.id == 1 %}
                <li class="list-group-item"><a href="/hexagoon/artigos">{{ artigo.titulo|safe }}</a></li>
            {% else %}
                <li class="list-group-item"><a href="/hexagoon/artigo/{{ artigo.id }}">{{ artigo.titulo|safe }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>
{%  endblock %}
{% block pushArtigo %}
<input class="col-12 btn-warning" type="button" value="Atualizar Artigo" onclick="updateArtigo()"
style="display: none" id="ua">
{%  endblock %}
